@import '../../assets/abstracts/partials.scss';

.login{
    width: 100%;
    height: 100vh;
    display: flex;
    background-color: $blue;
    color: $dark-purple;
    @include desktop{
        background-color: unset;
        color: $white;
    }
    
    &__image{
        display: none;
        @include tablet{
            display: unset;
            width: 50%;
            opacity: 0.85;
        }
        
    }

    &__container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;

        @include tablet{
            width: 50%;
            background-color: $dark-purple;
        }
    }

    &__title{
        text-transform: uppercase;
        font-family: $font-bold;
    }

    &__form{
        font-family: $font-ital;  
        display: flex;
        flex-direction: column;

        @include tablet{
            height: 40%;
            width: 40%;
        }
        
    }

    &__input{
        font-family: $font-reg;
        margin-bottom: 2rem;
        padding: 0.3rem;
        border-radius: 20px;
    }
}